.alert-container {
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
}

.alert-loading {
    display: inline-block;
    width: 96%;
}

.spinner-border.text-primary {
    margin: 0;
}

.loading-text {
    display: inline-block;
    font-size: larger;
    margin: 0;
}