div#matchData {
    clear: both;
}

li.match-row {
    margin: 10px 10px 10px 10px;
}

li.match-row.win {
    border: 2px solid cornflowerblue;
}

li.match-row.lose {
    border: 2px solid indianred;
}

ul.match-list {
    margin: 5px;
    padding: 0px;
}