div#matchData {
    clear: both;
    margin: 0 0 50px 0;
}

li.match-row {
    margin: 10px;
}

li.match-row.win {
    border: 2px solid rgb(133, 170, 238);
}

li.match-row.neutral {
    border: 2px solid rgb(241, 241, 241);
}

li.match-row.lose {
    border: 2px solid rgb(241, 137, 137);
}

ul.match-list {
    margin: 5px;
    padding: 0px;
}