div.participation {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    width: 103px;
}

.participation table {
    margin: 0 auto;
    vertical-align: middle;
}

.participation td {
    padding: 1px 0;
    margin: 0;
}

.participation td.key {
    text-align: center;
}

.participation td.val {
    width: 50px;
    text-align: right;
}

progress.participation {
    background-color: black;
}

.participation .key p {
    border-radius: 10px;
    padding: 0 4px;
    margin: 0 0 0 3px;
    color: white;
    background-color: rgb(160, 160, 160);
}