.profileIcon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
}

div#profileIconContainer {
    width: 100px;
    float: left;
}

div#summonerNameContainer {
    height: 100px;
    float: left;
}