.profile-wrap {
    position: relative;
    height: 96px;
}

.icon-image {
    position: absolute;
    left: 50%;
    transform: translate( -50%, 0%);
}

.profileIcon {
    width: 96px;
    height: 96px;
    border-radius: 20%;
    vertical-align: middle;
}

.level-text-container {
    height: 22px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 100%;
    left: 50%;
    box-sizing: border-box;
    transform: translate( -50%, -50%);
}

.level-text {
    font-weight: bold;
    width: 44px;
    height: 24px;
    color: rgb(105, 105, 105);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}